*~
.settings/
TAGS
bin/
gen/
# jni build products
libs/armeabi/
libs/armeabi-v7a/
libs/mips/
libs/x86/
obj/
# we are currently generating assets/ subdirs each time
assets/bin
assets/etc
assets/lib
assets/libexec
assets/sbin
assets/share
assets/var
assets/tests/gpgme
#
external/TAGS
external/data
external/adns-1.4
external/adns-1.4.tar.gz
external/adns-1.4.tar.gz.sig*
external/libiconv-1.14
external/libiconv-1.14.tar.gz
external/libiconv-1.14.tar.gz.sig*
external/openldap-build-stamp
external/libiconv-build-stamp
# android build files
build.xml
proguard-project.txt
local.properties

#kdevelop project files
*.kdev4

# backed up astyle files
jni/*.orig
