[submodule "external/gnupg"]
	path = external/gnupg
	url = git://git.gnupg.org/gnupg.git
[submodule "external/libassuan"]
	path = external/libassuan
	url = git://git.gnupg.org/libassuan.git
[submodule "external/libgcrypt"]
	path = external/libgcrypt
	url = git://git.gnupg.org/libgcrypt.git
[submodule "external/libgpg-error"]
	path = external/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
[submodule "external/libksba"]
	path = external/libksba
	url = git://git.gnupg.org/libksba.git
[submodule "external/openldap"]
	path = external/openldap
	url = git://git.openldap.org/openldap.git
[submodule "external/curl"]
	path = external/curl
	url = git://github.com/bagder/curl.git
