[submodule "external/gnupg"]
	path = external/gnupg
	url = git://git.gnupg.org/gnupg.git
[submodule "external/libassuan"]
	path = external/libassuan
	url = git://git.gnupg.org/libassuan.git
[submodule "external/libgcrypt"]
	path = external/libgcrypt
	url = git://git.gnupg.org/libgcrypt.git
[submodule "external/libgpg-error"]
	path = external/libgpg-error
	url = git://git.gnupg.org/libgpg-error.git
[submodule "external/libksba"]
	path = external/libksba
	url = git://git.gnupg.org/libksba.git
[submodule "external/openldap"]
	path = external/openldap
	url = git://git.openldap.org/openldap.git
[submodule "external/curl"]
	path = external/curl
	url = https://github.com/bagder/curl.git
[submodule "external/npth"]
	path = external/npth
	url = git://git.gnupg.org/npth.git
[submodule "external/gpgme"]
	path = external/gpgme
	url = git://git.gnupg.org/gpgme.git
[submodule "external/gnupg-for-java"]
	path = external/gnupg-for-java
	url = https://github.com/smartrevolution/gnupg-for-java.git
[submodule "external/pinentry"]
	path = external/pinentry
	url = https://github.com/guardianproject/pinentry.git
	ignore = dirty
[submodule "external/ActionBarSherlock"]
	path = external/ActionBarSherlock
	url = git@github.com:JakeWharton/ActionBarSherlock.git
	ignore = dirty
