*~
.settings/
TAGS
bin/
gen/
# jni build products
libs/armeabi
obj/
# we are currently generating assets/ each time
assets/
#
external/TAGS
external/data
external/adns-1.4
external/adns-1.4.tar.gz
external/adns-1.4.tar.gz.sig*
external/pth-2.0.7
external/pth-2.0.7.tar.gz
external/pth-2.0.7.tar.gz.sig*
external/libiconv-1.14
external/libiconv-1.14.tar.gz
external/libiconv-1.14.tar.gz.sig*
# build stamps
external/libgpg-error-build-stamp
external/libgcrypt-build-stamp
external/libassuan-build-stamp
external/openldap-build-stamp
external/curl-build-stamp
external/gnupg-build-stamp
external/gpgme-build-stamp
external/npth-build-stamp
external/libiconv-build-stamp
# android build files
build.xml
proguard-project.txt
local.properties
