<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.gpg"
    android:versionCode="1"
    android:versionName="0.0" >

    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".GPGTabGroup"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".OverlayActivity"
            android:theme="@style/Theme.CustomDialog"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".KeyManagerGroup"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MyKeysGroup"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".screens.ViewAllKeysActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".screens.ViewMyKeysActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
		<activity
            android:label="@string/app_name"
            android:name=".screens.WebOfTrustActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".FileManagerActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".screens.MyKeysMainActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".screens.GenerateNewKeyActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".screens.KeyEditorActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".widgets.SearchForKeyActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
       <activity
            android:label="@string/app_name"
            android:name=".widgets.ConfirmNewKeyActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".widgets.SpinnerActivity"
            android:configChanges="orientation|keyboardHidden" >
        </activity>
        <service 
        	android:name=".AgentsService"
        	android:process=":agents" />
    </application>
    
    

</manifest>