<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.guardianproject.gpg"
    android:versionCode="1"
    android:versionName="0.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="jackpal.androidterm.permission.APPEND_TO_PATH" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="info.guardianproject.gpg.GPGApplication"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".GnuPrivacyGuard"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pinentry.PinEntryActivity"
            android:launchMode="singleInstance"
            android:label="@string/title_activity_pinentry"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity android:name=".ListKeysActivity" />
        <activity android:name=".SearchKeysActivity" />
        <activity android:name=".ImportFileActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name=".GPGPreferenceActivity" />

        <service
            android:name=".GpgAgentService"
            android:process=":gpgagent" />
        <service
            android:name=".SharedDaemonsService"
            android:process=":shareddaemons" />

        <receiver android:name=".GPGBroadcastReceiver">
            <intent-filter>
              <action android:name="android.intent.action.BOOT_COMPLETED" />
              <action android:name="jackpal.androidterm.broadcast.APPEND_TO_PATH" />
            </intent-filter>
        </receiver>

    </application>

</manifest>